# env
.env.example
.env
server/.env
client/.env

#dependencies
node_modules/
client/node_modules/
server/node_modules/

# build output
dist/
build/
server/dist/
client/dist/

#prisma
server/prisma/*.db/

#misc
.DS_Store
*.log
npm-debug.log*